# ------------------------------- Overall --------------------------------

# Recommended values for ENVIRONMENT: development, staging, production
ENVIRONMENT=development

# ------------------------------- Database -------------------------------

# Generate your MYSQL_ROOT_PASSWORD using a password generator
MYSQL_ROOT_PASSWORD=<YOUR_MYSQL_ROOT_PASSWORD>
MYSQL_DATABASE=wealth_manager_arena_db
MYSQL_USER=wealth_manager_arena_user
# Generate your MYSQL_PASSWORD using a password generator
MYSQL_PASSWORD=<YOUR_MYSQL_PASSWORD>
MYSQL_PORT=3001

# ---------------------------------- API ---------------------------------

API_PORT=3000
API_DEBUG=false
# Generate your API_SECRET_KEY using a password generator or other tools
API_SECRET_KEY=<YOUR_SECRET_KEY>