# Overall
ENVIRONMENT=production

# Database
MYSQL_ROOT_PASSWORD=<YOUR_MYSQL_ROOT_PASSWORD>
MYSQL_DATABASE=wealth_manager_arena_db
MYSQL_USER=wealth_manager_arena_user
MYSQL_PASSWORD=<YOUR_MYSQL_PASSWORD>
MYSQL_PORT=3001

# API
API_PORT=3000
API_SECRET_KEY=<YOUR_SECRET_KEY>